<%- include('./partials/header')%>

<div class="w-full h-screen flex items-start p-20">
  <div class="w-[25%] flex h-screen flex-col items-start">
    <div class="flex items-center gap-2">
      <h3>sort by</h3>
      <form action="/shop">
        <select class="border-[1px] px-2 py-1" name="sortby" id="">
          <option value="popular">Popular</option>
          <option value="newest">Newest</option>
        </select>
      </form>
    </div>
    <div class="flex flex-col mt-20">
      <a class="block w-fit mb-2" href="">New Collection</a>
      <a class="block w-fit mb-2" href="">All Products</a>
      <a class="block w-fit mb-2" href="">Discounted Products</a>
    </div>
    <div class="mt-32">
      <a class="block w-fit mb-2" href="">Filter by :</a>
      <a class="block w-fit mb-2" href="">Availability</a>
      <a class="block w-fit mb-2" href="">Discount</a>
    </div>
  </div>
</div>

<%- include('./partials/footer')%>
